*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{  
    margin: 0 auto;
    width: 1200px;
   
    
}
body{
    background: #E5E5E5;
}
.Main{
    width: 935px;
    height: 610px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    display: flex; 
    margin-top: 40px;
}
.EdicaoEsquerda{
    display: flex;
    margin-left: 29px;
    margin-right: 204px;
    padding-top: 19px;
    
}
.EdicaoDireita{
    border-left: 1px solid #F1F1F1;
    box-sizing: border-box; 
    padding-top: 19px;
}
.EditarPerfil{
    width: 79px;
    height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    
}
.Linha{
    width: 100px;
    border: 1px solid #000000;
    transform: rotate(90deg); 
    margin-left: 10px;
    

}
.AlteraçãoPerfil{
   display: flex;  
}
.FotoPerfil{
    margin-left: 100px;
}
.TextoPerfil{
    margin-left: 21px;
    display: flex;
    flex-direction: column;
}
.NomePerfil{
    width: 209px;
    height: 24px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 18px;
    
}
.AlterarPerfil{
    color: #2686CC;
    width: 209px;
    height: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}
.EdicaoNome{
    margin-top: 20px;
}
.FraseNome{
    margin-top: 10px;
    margin-left: 171px;
}
.FraseDias{
    margin-top: 10px;
    margin-left: 171px;
}
.NomeUsuario{
    margin-left:41px ;
}
span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px; 
    height: 19px;
    color: #000000;
    margin-right: 10px;
}
p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 48px;
    color:  #909090; 
    width: 354px;
    height: 48px;
}
.InfoUsuario{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 48px;
    color:  #909090; 
    margin-left: 171px;
}
.TextoInfo{
    margin-left: 171px;
}
.Email{
    margin-top: 10px;
}
.FraseEmail{
    margin-left: 114px;
}
input{
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
    width: 354px;
    height: 30px;
}
.Botoes{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 165px;
    
}
.Botao1{
    background: #2686CC;
    border-radius: 2px;
    border: none;
    width: 66px;
    height: 30px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
   
}
.Botao2{
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2686CC;
    background: #ffffff;
    
}
.Nome{
    margin-left: 111px;
}


